:root{
    --primario: #9C27B0;
    --primarioOscuro: #89119D;
    --secundario: #FFCE00;
    --secundarioOscuro: rgb(237,287,2);
    --blanco: #FFF;
    --negro: #000;
    --fuentePrincipal: 'Staatliches', cursive;
}